<div class="container-fluid bg-dark me-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center overflow-hidden align-center">
<h1 class="display-5 text-white">Editer le Gossip: <% @gossip.title %></h1>
<div class="container col-7">
    <%= form_with( url: gossip_path(@gossip.id), model: @gossip, method: :put, local: true ) do |form| %>
        <div class="mb-3">
        <%= form.label :title, class: "form-label text-white" %>
        <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
        <%= form.label :content, class: "form-label text-light" %>
        <%= form.text_field :content, class: "form-control" %>
        </div>
        <div class="mb-3">
        <%= form.submit "Modifier", class: "btn btn-primary" %>
        </div>
    <% end%>
    </div> 
</div>