<% user = User.find(params[:show_user]) %>
<h1>User: <%= user.first_name %> <%= user.last_name %></h1>

<p>Age : <%= user.age %> </p>
<p>eMail : <%= user.email %> </p>
<p>Ville : <%= City.find(user.city_id).name %> </p>
<br/>
<br/>
<p>Description : <%= user.description %> </p>
<br/>
<p>Ses gossips:</p>
<br/>
<% Gossip.where(user_id: user.id).each do |gossip| %>
  <p>Titre : <%= gossip.title %> </p>
  <p>Lien vers le gossip : <%= link_to gossip.title.to_s, "../gossip/#{gossip.id}" %>
  <br/>
  <br/>
<% end %>

<p>Find me in app/views/users/show_user.html.erb</p>
